<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Agregar reserva</title>
</head>
<body>
	<div class="signup-form">
		<form th:object="${/guardarreserva"}" th:action="${reserva}">
			<h2>Reservaciones</h2>
			<div class="form-group">

				<div class="form-group">
					<label>Numero de Habitacion</label>
					<input type="text" class="form-control" placeholder="Habitacion desada" th:field="*{habitacion.numhab}">
				</div>
			</div>
			<div class="form-group">
				<label>Desayuno</label>
				<input type="text" class="form-control" name="desayuno"
					placeholder="Desea desayuno? Si/No" required="required" th:field="*{desayuno}">
			</div>
			<div class="form-group">
				<label for="">Fecha</label><br>
				<input type="date" class="form-control" name="fecha" required="required" th:field="*{fecha}">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-lg btn-primary btn-block">Reservar
					Habitacion</button>
			</div>
		</form>

	</div>
</body>
</html>