<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Agregar Habitacion</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
</head>
<body>
<div class = "container">
	<form th:action="@{/guardarhabitacion}" th:object=${habitacionnuevo} method="Post">
	<h2>Nueva Habitación</h2>
	  		<div>
	  			<h6>Numero de Habitacion</h3>
				<input type="text" class="form-control" name="numero"
					placeholder="Numero de Habitacion" required="required" th:field = "*{numhab}">
			</div>
			<div>
				<h6>Descripcion</h3>
				<input type="text" class="form-control" name="descripcion"
					placeholder="Descripción" required="required" th:field =  "*{descripcion}">
			</div>
			<div>
				<h6>Precio</h6>
				<input type="text" class="form-control" name="Costo"
					placeholder="Costo" required="required" th:field =  "*{precio}">
			</div>
			
			<div class="form-group">
						<label for="tipo">Tipo</label> <br> <select th:field="*{tipo}">
						<option th:value="'Simple'" th:text="Simple"></option>
						<option th:value="'doble'" th:text="Doble"></option>
						</select>
					</div>
			<button type="submit" class="btn btn-primary" >Guardar Habitación</button>
</form>
</div>
</body>
</html>